@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root{
  --cor-fundo: #867070;
  --cor-primaria: #D5B4B4;
  --cor-input: #cab2b2;
  --cor-botao: #977e7e;
  --cor-hover: #b39999;
  --cor-complete: #6d8366;
  --cor-not-complete: #bd6d5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--cor-fundo);
}

.todo-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 130px auto;
  background: var(--cor-primaria);
  border-radius: 10px;
  width: 500px;
  height: 600px;
  padding: 25px 10px;
  gap: 20px;
  overflow: auto;
}

.cute-icons{
  display: flex;
  gap: 50px;
}

h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 35px;
}

.form{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.task-input{
  background: var(--cor-input);
  border-radius: 5px;
  text-align: center;
  height: 30px;
}

.add-button{
  background: var(--cor-botao);
  height: 30px;
  border-radius: 5px;
  padding: 3px;
}

.add-button:hover{
  background: var(--cor-hover);
}

.todo-row{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--cor-botao);
  width: 60%;
  border-radius: 5px;
  gap: 10px;
}

.todo-row-complete{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--cor-complete);
  width: 60%;
  border-radius: 5px;
  gap: 10px;
  text-decoration: line-through solid black
}

.todo-row-not-complete{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--cor-not-complete);
  width: 60%;
  border-radius: 5px;
  gap: 10px;
}